<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Categorías</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/categorias}">Categorías</a></li>
						<li class="breadcrumb-item acive">Nuevo</a></li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Nueva Categoría</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form class="form-horizontal" enctype="multipart/form-data"
							method="post" th:action="@{/categorias/registrar}" th:object="${categoriaForm}">
							
							<div class="card-body">
								<div class="form-group row">
									<label class="col-sm-2 col-form-label" for="inputNombre">Nombre</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="inputNombre" th:field="*{nombre}"
											th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid'"
											required="required"
											placeholder="Nombre">
										<span class="error invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label" for="inputDescripcion">Descripción</label>
									<div class="col-sm-10">
										<textarea id="inputDescripcion" th:field="*{descripcion}"
											th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid'"
											required="required">
				                        </textarea>
				                        <span class="error invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label" for="inputFile">Imagen</label>
									<div class="col-sm-10">
										<div class="input-group">
											<div class="custom-file">
												<label class="custom-file-label" for="inputFile">Seleccionar</label>
												<input type="file" class="custom-file-input" id="inputFile"
													accept="image/png, image/jpeg, image/jpg"
													th:field="*{imagen}" required="required"
													th:classappend="${#fields.hasErrors('imagen')} ? 'is-invalid'">
												<span class="error invalid-feedback" th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /.card-body -->

							<div class="card-footer">
								<div class="offset-sm-2 col-sm-10">
									<button type="submit" class="btn btn-primary">Guardar</button>
									<a th:href="@{/categorias}"
										class="btn btn-outline-danger">Cancelar</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->