
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Categorías</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item active">Categorías</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<a th:href="@{/categorias/nuevo}"
									class="btn btn-success btn-sm px-2"> <i class="fas fa-plus"></i>
									Agregar Categoría
								</a>
							</div>
						</div>
						<div class="card-body">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Nombre Corto</th>
										<th>Descripción</th>
										<th>Estado</th>
										<th class="text-center">Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="categoria : ${categorias}">
										<td th:text="${categoria.id}"></td>
										<td th:text="${categoria.nombre}"></td>
										<td th:utext="${categoria.descripcion}"></td>
										<td th:text="${categoria.estado}">Activo</td>
										<td class="text-center"><a
											th:href="@{/categorias/{id}/editar(id=${categoria.id})}"
											class="btn btn-primary btn-sm px-2"> <i
												class="far fa-edit"></i></a> <a
											href="@{/categorias/{id}/eliminar(id=${categoria.id})}"
											class="btn btn-outline-danger btn-sm"> <i
												class="fas fa-trash"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>

