<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <th:block th:insert="/fragments/resources-header" />
  
    <!-- DataTables -->
  <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
  
  <!-- SweetAlert2 -->
  <link rel="stylesheet" th:href="@{/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css}">
</head>

<body class="hold-transition layout-navbar-fixed layout-footer-fixed"
	th:classappend="${session.usuarioLogin} ?  'sidebar-mini' : 'layout-top-nav'">
<div class="wrapper">
  <!-- Navbar -->
  <th:block th:insert="/fragments/navbar" />
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:if="${session.usuarioLogin}" th:insert="/fragments/sidebar" />

  <!-- Content Wrapper. Contains page content -->
  <th:block th:insert="/categoria/categorias-content" />
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <th:block th:insert="/fragments/footer" />
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<th:block th:insert="/fragments/resources-footer" />

<!-- OPTIONAL SCRIPTS -->
<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- SweetAlert2 -->
<script th:src="@{/plugins/sweetalert2/sweetalert2.min.js}"></script>

<!-- Page specific script -->
<script th:inline="javascript">
	$(function() {
		$('#example2').DataTable({
			"paging" : true,
			"lengthChange" : false,
			"searching" : false,
			"ordering" : true,
			"info" : true,
			"autoWidth" : true,
			"responsive" : true,
			"pageLength" : [[${pageLength}]]
		});
	});
	
	function eliminarCategoria(url){
		Swal.fire({
			title: 'Eliminar Categoria',
			html: "Esta operaci&oacute;n no se podr&aacute; revertir",
			icon : "warning",
			showCancelButton: true,
			confirmButtonText: [[#{categorias.delete.button.confirm}]],
			confirmButtonColor: '#d33',
			showLoaderOnConfirm: true,
			preConfirm: () => {
				return fetch(url, { method: 'DELETE' })
			      .then(response => {
			    	  if (!response.ok) {
			    		  throw new Error("Ocurrio un error")
			    	  }
			    	  return response.json()
			      })
			      .catch(error => {
			    	  Swal.showValidationMessage(error)
			      })
			  },
			allowOutsideClick: () => !Swal.isLoading()
		}).then((result) => {
			if (result.value) {
				Swal.fire({
					title: "Resultado",
					text: result.value.message
				}).then((result) => {
					window.location = [[@{/categorias}]];
				})
			}
		});
		
	}
</script>

</body>
</html>
