<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="/fragments/resources-header" />
</head>

<body class="hold-transition layout-navbar-fixed layout-footer-fixed"
	th:classappend="${session.usuarioLogin} ?  'sidebar-mini sidebar-collapse' : 'layout-top-nav'">
	<div class="wrapper">
		<!-- Navbar -->
		<th:block th:insert="/fragments/navbar" />
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<th:block th:if="${session.usuarioLogin}"
			th:insert="/fragments/sidebar" />

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Error Page</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Error Page</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="error-page">
					<div class="h2 headline text-warning">Error</div>

					<div class="error-content">
						<h3>
							<i class="fas fa-exclamation-triangle text-warning"></i> Oops!
							Page not found.
						</h3>

						<p>
							We could not find the page you were looking for. Meanwhile, you
							may <a href="../../index.html">return to dashboard</a> or try
							using the search form.
						</p>

						<form class="search-form">
							<div class="input-group">
								<input type="text" name="search" class="form-control"
									placeholder="Search">

								<div class="input-group-append">
									<button type="submit" name="submit" class="btn btn-warning">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
							<!-- /.input-group -->
						</form>
					</div>
					<!-- /.error-content -->
				</div>
				<!-- /.error-page -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<!-- Main Footer -->
		<th:block th:insert="/fragments/footer" />

	</div>
	<!-- ./wrapper -->

	<!-- jQuery -->
	<th:block th:insert="/fragments/resources-footer" />
</body>
</html>
