<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Categorías</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item active">Home</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Default box -->
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row d-flex align-items-stretch">
					<th:block th:each="categoria : ${categorias}">
						<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
							<div class="card bg-light" style="width:100%">
								<div class="card-header text-muted border-bottom-0"
									th:text="${categoria.nombre}"></div>
								<img th:src="@{/categorias/{id}/imagen(id=${categoria.id})}"
									class="card-img-top img-fluid" alt="${categoria.nombre}">
								<div class="card-body pt-2">
									<p class="card-text text-muted text-sm"
										th:utext="${categoria.descripcion}"></p>
								</div>
								<div class="card-footer">
									<div class="text-right">
										<a th:href="@{/categorias/{id}/productos(id=${categoria.id})}"
											class="btn btn-sm btn-outline-primary btn-block"> <i
											class="fas fa-tags"></i> Ver Productos
										</a>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->